.mainLayout {
    display: flex;
    padding: 3rem;
    gap    : 2rem;
    height : 100vh;
}


.leftSection {
    display       : flex;
    gap           : 2rem;
    flex-direction: column;
    max-width     : 28rem;
    min-width     : 14rem;
}

.avatarContainer {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    gap            : 1rem;
    position       : relative;
    aspect-ratio   : 6 / 7;
    width          : 100%;
    padding        : 1rem;
    border-radius  : 1rem;
    overflow       : hidden;
    box-shadow     : 3px 3px 12px rgba(0, 0, 0, 0.025);
}

.avatarContainer::before {
    content         : "";
    position        : absolute;
    inset           : 0;
    background-color: #ffffff70;
    backdrop-filter : blur(10px);
    z-index         : 0;
}

.avatarContainer img {
    position       : relative;
    z-index        : 1;
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: top;
    border-radius  : 1rem;
}

.welcomeLabel {
    font-weight: 600;
    font-size  : 1.25rem;
}

.logoutButton {
    margin    : auto auto 0 auto;
    width     : fit-content;
    background: unset;
    color     : rgba(0, 0, 0, 0.7);
    box-shadow: unset;
}

.messagesContainer {
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
    gap           : 2rem;
    overflow-y    : auto;
    padding       : 10px;
    margin-bottom : 10px;
}

.spinner {
    position  : absolute !important;
    margin    : 10px;
    font-size : 24px;
    text-align: center;
    top       : 50%;
    left      : 50%;
    z-index   : 99;
    transform : translate3d(-50%, -50%, 0);
    animation : spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    to {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.initialHelperMessage {
    text-align: center;
    color     : #999;
    font-style: italic;
    margin    : 1rem 0;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate3d(-50%, -50%, 0);
}


.chatboxContainer {
    display: flex;
    gap    : 10px;
}

.chatboxContainer.disabled {
    opacity       : .21;
    pointer-events: none;
}

.disabled {
    opacity       : .21;
    pointer-events: none;
}

input[type="text"] {
    flex         : 1;
    padding      : .75rem 1rem;
    border-radius: 1rem;
}

input[type="password"] {
    flex         : 1;
    padding      : .75rem 1rem;
    border-radius: 1rem;
}

button {
    cursor       : pointer;
    padding      : 8px 16px;
    border-radius: 1rem;
    background   : linear-gradient(135deg, #a0c4ff, #bdb2ff);
    /* pastel blue to pastel purple */
    border       : none;
    color        : white;
    text-shadow  : 0px 0px 21px #0000007a;
    box-shadow   : 3px 3px 12px rgba(0, 0, 0, 0.025);
    transition   : 0.2s;
}

button:hover {
    filter       : drop-shadow(0 0 1em #a0c4ffaa);
    border-radius: .25rem;
}

.rightSection {
    position      : relative;
    border-radius : 1rem;
    padding       : 1rem;
    overflow      : hidden;
    display       : flex;
    flex-direction: column;
    flex-grow     : 1;
    box-shadow    : 3px 3px 12px rgba(0, 0, 0, 0.025);
}


.rightSection::before {
    content         : "";
    position        : absolute;
    inset           : 0;
    background-color: #ffffff70;
    backdrop-filter : blur(10px);
    z-index         : 0;
    border-radius   : 1rem;
}

/* Ensures children of .rightSection appear above the ::before */
.rightSection>* {
    position: relative;
    z-index : 1;
}


.userMessage {
    align-self                : end;
    color                     : black;
    background-color          : #00000014;
    width                     : 90%;
    padding                   : 1rem;
    border-radius             : 1rem;
    border-bottom-right-radius: 0;
}

.botMessage {
    text-align: left;
    color     : black;
}

.micButton {
    transition: 0.3s;
}

.micButton.listening {
    animation: pulse 1.5s infinite;
}

.formDataSummary {
    background-color: #ffffff22;
    backdrop-filter : blur(6px);
    border-radius   : 1rem;
    padding         : 1rem;
    margin-top      : 1rem;
    color           : #000;
}

.formDataSummary h4 {
    margin-bottom: 0.5rem;
}

.formDataSummary li {
    margin-bottom: 0.25rem;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* SUMMARY MODAL */

.modalOverlay {
    position       : fixed;
    inset          : 0;
    background     : rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 999;
}

.modalContent {
    background   : white;
    padding      : 2rem;
    border-radius: 1rem;
    max-width    : 600px;
    width        : 90%;
    box-shadow   : 0 0 20px rgba(0, 0, 0, 0.3);
    position     : relative;
    overflow     : auto;
    height       : 90%;
}

.modalContent h2 {
    font-weight  : 600;
    text-align   : center;
    margin-bottom: 1rem;
}

.modalContent h3 {
    margin-bottom: 1rem;
}

.modalContent h3:nth-of-type(2) {
    margin-top: 1rem;
}

.modalContent h4 {
    font-weight  : 600;
    margin-bottom: 1rem;
}

ul {
    margin-left    : 2rem;
    list-style-type: none;
}

li {
    margin-bottom: 1rem;
}

strong {
    font-weight: 600;
}

.closeButton {
    position      : absolute;
    top           : 1rem;
    right         : 1rem;
    /* background : transparent; */
    font-size     : 1.25rem;
    border        : none;
    cursor        : pointer;
    text-shadow   : none;
}

.optionsContainer {
    display  : flex;
    flex-wrap: wrap;
    gap      : 1rem;
    padding  : 1rem;
}

.optionsContainer.optionButton {
    text-align: start;
}